server:
  port: 8085

spring:
  application:
    name: project-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/hrms_project}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update

jwt:
  secret: ${JWT_SECRET:your-secret-key-must-be-at-least-256-bits-long}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka/}